/* Will be compiled down to a single stylesheet with your sass files */
body,html {
	height:100%;
	overflow: hidden;
}

ul {
	margin: 0;
}

.navbar {
	z-index: 1000;
}

#sidebar {
	position: fixed;
	right: 25px;
	top: 50%;
	margin-top: -44px;
}

.canvas {
	height: auto;
	float: left;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin-top: 40px;
	/*margin-left: 260px;*/
	overflow: hidden;
	background-color: #fff;
	/*-webkit-transition: margin 0.5s linear;*/
}

#canvas-background {
	width: 100%;
	height: 100%;
	display:block;
	position: fixed;
}

#slideFrames, #frames {
	display:block;
	position: absolute;
}

#mainCanvas {
	-webkit-transition: -webkit-transform 0.5s linear;
	-moz-transition: -moz-transform 0.5s linear;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	margin-top: 40px;
	/*z-index: auto;*/
}

.slide {
	position: absolute;
	display: block;
	margin: 0;
	/*z-index: 10;*/
}

ul {
	list-style: none;
}

.rec, .frame {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px blue solid;
	margin: -8px;
	position: absolute;
}

.recli, .text-frame-wrapper, .t-frame-outter {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.t-frame-outter {
	width: 0;
	height: 0;
}

.rec > *, .frame > * {
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px blue solid;
	background-color: white;
}


.rec-tl {
	left: -7px;
	top: -7px;
}

.rec-tr {
	top: -7px;
	right: -7px;
}

.rec-bl {
	left: -7px;
	bottom: -7px;
}

.rec-br {
	right: -7px;
	bottom: -7px;
}

.component {
	position: absolute;
}

.toolbar {
	position: absolute;
	display: none;
}

textarea {
	margin: 0;
}

#main {
	display: none;
}

.modal-body input {
	width: 97%;
}

img {
	max-width: none;
}

.component img {
	width: auto;
	height: auto;
}

ul.slide-style-list {
	margin: 0;
	list-style: none;
}

ul.slide-style-list li {
	display: inline-block;
	margin: 1em;
}

.slide-background, .slide-background * {
	height: 100%;
	width: 100%;
}

/*#font-size .dropdown-menu {
	min-width: 0;
}

#font-size .dropdown-menu a {
	padding: 3px 17px;
}

#toolbar .btn:hover .dropdown-menu {
	display: block;
}*/

.icon-resize-horizontal {
	position: absolute;
	display: none;
}

.icon-resize-horizontal#resize-left {
	top: 5px;
	left: -5px;
}

.icon-resize-horizontal#resize-right {
	top: 5px;
	right: -5px;
}

.mce-content-body * {
	line-height: normal;
}

.delete-btn {
	position: absolute;
	top: -25px;
	right: 0;
	padding: 1px 6px;
	display: none;
}

.theme-color-asphalt-orange{
background:#415b77;
background:-moz-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #415b77), color-stop(100%, #2c3e50));
background:-webkit-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
background:-o-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
background:radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
background-color:#2c3e50
}
.theme-color-cobalt-orange{
background:#1a4984;
background:-moz-radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1a4984), color-stop(100%, #13335a));
background:-webkit-radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
background:-o-radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
background:radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
background-color:#13335a
}
.theme-color-beige-brown{
background:#fff;
background:-moz-radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(100%, #f7f2d3));
background:-webkit-radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
background:-o-radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
background:radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
background-color:#f7f3de
}
.theme-color-coral-blue{
background:#d59177;
background:-moz-radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d59177), color-stop(100%, #c97150));
background:-webkit-radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
background:-o-radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
background:radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
background-color:#c97150
}
.theme-color-forest-yellow{
background:#189d49;
background:-moz-radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #189d49), color-stop(100%, #14853d));
background:-webkit-radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
background:-o-radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
background:radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
background-color:#14853d
}
.theme-color-grey-blue{
background:#555a5f;
background:-moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
background:-webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background:-o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background:radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background-color:#2b2b2b
}
.theme-color-lila-yellow{
background:#793f62;
background:-moz-radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #793f62), color-stop(100%, #512b42));
background:-webkit-radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
background:-o-radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
background:radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
background-color:#512b42
}
.theme-color-mint-beige{
background:#2aa57e;
background:-moz-radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2aa57e), color-stop(100%, #207c5f));
background:-webkit-radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
background:-o-radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
background:radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
background-color:#207c5f
}
.theme-color-sea-yellow{
background:#6cc9cd;
background:-moz-linear-gradient(top, #6cc9cd 0%, #297477 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #6cc9cd), color-stop(100%, #297477));
background:-webkit-linear-gradient(top, #6cc9cd 0%, #297477 100%);
background:-o-linear-gradient(top, #6cc9cd 0%, #297477 100%);
background:linear-gradient(top, #6cc9cd 0%, #297477 100%);
background-color:#297477
}
.theme-color-silver-blue{
background:#fff;
background:-moz-radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(100%, #bbb));
background:-webkit-radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
background:-o-radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
background:radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
background-color:#bbb
}

.theme-color-silver-blue .slide {
	background-color: white; 
	border: 1px solid rgba(0, 0, 0, .3); 
	border-radius: 10px; 
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.theme-color-sky-blue{
background:#f7fbfc;
background:-moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
background:-webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
background:-o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
background:radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
background-color:#f7fbfc
}

/*for test*/
.point{
	position: fixed;
	background-color: blue;
	width:6px;
	height: 6px;
	z-index: 100000;
}

