/* Will be compiled down to a single stylesheet with your sass files */
body,html {
	height:100%;
	overflow: hidden;
}

ul {
	margin: 0;
}

.navbar {
	z-index: 1000;
}

.sidemenu {
	width:260px;
	height: auto;
	bottom: 0;
	top: 0;
	position: absolute;
	display: block;
	background: grey;
	margin-top: 40px;
	z-index: 100;
}

.canvas {
	height: auto;
	float: left;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin-top: 40px;
	margin-left: 260px;
	overflow: hidden;
}

#backcolor {
	width: 100%;
	height: 100%;
	display:block;
	position: absolute;
}

#slideFrames {
	width: 100%;
	height: 100%;
	display:block;
	position: absolute;
}

#mainCanvas {
	-webkit-transition: -webkit-transform 0.5s linear;
	-moz-transition: -moz-transform 0.5s linear;
/*	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
	margin: 0;
}

input#zoomin {
	position: fixed;
	left: 300px;
	top: 60px;
	z-index: 100;
}

input#zoomout {
	position: fixed;
	left: 400px;
	top: 60px;
	z-index: 100;
}

.slide {
	position: absolute;
	display: block;
	margin: 0;
	z-index: 10;
}

ul {
	list-style: none;
}

.rec {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px blue solid;
	margin: -8px;
	position: absolute;
}

.recli {
	position: absolute;
/*	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}

.rec > * {
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px blue solid;
	z-index: 15;
	background-color: white;
}

.rec-tl {
	left: -7px;
	top: -7px;
}

.rec-tr {
	top: -7px;
	right: -7px;
}

.rec-bl {
	left: -7px;
	bottom: -7px;
}

.rec-br {
	right: -7px;
	bottom: -7px;
}