/* Will be compiled down to a single stylesheet with your sass files */
body,html {
	height:100%;
	overflow: hidden;
}

ul {
	margin: 0;
}

.navbar {
	z-index: 1000;
}

#sidebar {
	position: fixed;
	right: 25px;
	top: 50%;
	margin-top: -44px;
}

.canvas {
	height: auto;
	float: left;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin-top: 40px;
	/*margin-left: 260px;*/
	overflow: hidden;
	background-color: #fff;
	/*-webkit-transition: margin 0.5s linear;*/
}

#canvas-background {
	width: 100%;
	height: 100%;
	display:block;
	position: fixed;
}

#slideFrames, #frames {
	display:block;
	position: absolute;
}

#mainCanvas {
	-webkit-transition: -webkit-transform 0.5s linear;
	-moz-transition: -moz-transform 0.5s linear;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	margin-top: 40px;
	/*z-index: auto;*/
}

.slide {
	position: absolute;
	display: block;
	margin: 0;
	/*z-index: 10;*/
}

ul {
	list-style: none;
}

.rec, .frame {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px blue solid;
	margin: -8px;
	position: absolute;
}

.recli, .text-frame-wrapper, .t-frame-outter {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.t-frame-outter {
	width: 0;
	height: 0;
}

.rec > *, .frame > * {
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px blue solid;
	background-color: white;
}


.rec-tl {
	left: -7px;
	top: -7px;
}

.rec-tr {
	top: -7px;
	right: -7px;
}

.rec-bl {
	left: -7px;
	bottom: -7px;
}

.rec-br {
	right: -7px;
	bottom: -7px;
}

.component {
	position: absolute;
}

.toolbar {
	position: absolute;
	display: none;
}

textarea {
	/*width: 150px;*/
	/*word-wrap: normal;*/
	margin: 0;
}

#presentation {
	display: none;
}

.modal-body input {
	width: 97%;
}

img {
	max-width: none;
}

.component img {
	width: auto;
	height: auto;
}

ul.slide-style-list {
	margin: 0;
	list-style: none;
}

ul.slide-style-list li {
	display: inline-block;
	margin: 1em;
}

.slide-background, .slide-background * {
	height: 100%;
	width: 100%;
}

/*#font-size .dropdown-menu {
	min-width: 0;
}

#font-size .dropdown-menu a {
	padding: 3px 17px;
}

#toolbar .btn:hover .dropdown-menu {
	display: block;
}*/

.icon-resize-horizontal {
	position: absolute;
	display: none;
}

.icon-resize-horizontal#resize-left {
	top: 5px;
	left: -5px;
}

.icon-resize-horizontal#resize-right {
	top: 5px;
	right: -5px;
}

/*for test*/
.point{
	position: fixed;
	background-color: blue;
	width:6px;
	height: 6px;
	z-index: 100000;
}

