<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>slides generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="slidesGeneratorApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#/">slidegen</a>
        <ul class="nav">
          <li><a href="#">save</a></li>
          <li class="dropdown" ng-controller="InsertBtnCtrl">
            <a class="dropdown-toggle" href="#">insert</a>
            <ul class="dropdown-menu">
              <li ng-repeat="item in items">
                <a ng-click="item.click()">{{item.name}}</a>
              </li>
            </ul>
          </li>
          <li><a href="#">view</a></li>
          <li><a href="#" ng-click="present()">present</a></li>
          <li><a href="#" ng-click="">style</a></li>
        </ul>

        <ul class="nav pull-right">
          <li><a href="#">yukang</a></li>
        </ul>
      </div>
    </div>

    <div class="sidemenu">
      <h1>canvas</h1>
      <label>color</label>
      <input type="text" placeholder="e.g. blue" ng-model="canvas.background">
      {{canvas.background}}
      <label>gradient</label>
      <input type="text">
      <label>image</label>
      <input type="text">
    </div>
    
    <div class="canvas">  
      <div id="backcolor"></div>
      <ul id="slideFrames">
        <li ng-repeat="slide in slides" class="recli" id="{{slide.index}}" ng-style="slide.style">
          <div class="rec" ng-show="slide.selected">
            <div class="rec-tl"></div>
            <div class="rec-tr"></div>
            <div class="rec-bl"></div>
            <div class="rec-br"></div>
          </div>
          <div id="{{slide.toolbar}}" class="btn-group toolbar" style="display: none;">
            <a data-wysihtml5-command="bold" class="btn"><i class="icon-bold"></i></a>
            <a data-wysihtml5-command="italic" class="btn"><i class="icon-italic"></i></a>
          </div>

        </li>
      </ul>
      <ul id="mainCanvas" draggable>
        <li ng-repeat="slide in slides">
          <div class="slide" id="{{slide.index}}" draggable>
            <form>
              <div ng-repeat="component in slide.components">
                <div class="component"></div>
              </div>
            </form>
          </div>
        </li>
      </ul>
      <div id="frames">
        <div ng-repeat="slide in slides" class="t-frame-outter" ng-style="slide.getPosStyle()">
          <div ng-repeat="component in slide.components" class="text-frame-wrapper" ng-style="component.frameStyle">
            <div class="frame">
              <div class="rec-tl"></div>
              <div class="rec-tr"></div>
              <div class="rec-bl"></div>
              <div class="rec-br"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="sidebar" class="btn-group btn-group-vertical">
        <button class="btn" id="gohome"><i class="icon-home"></i></button>
        <button class="btn" id="zoomin"><i class="icon-zoom-in"></i></button>
        <button class="btn" id="zoomout"><i class="icon-zoom-out"></i></button>
      </div>
    </div>

    <div modal="addImageModal" close="closeAddImageModal()" options="addImageModalOpts">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeAddImageModal()">&times;</button>
            <h3>Add an image</h3>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="input url..." ng-model="imageURL">
            <img id="img-preview" class="imgPreview">
        </div>
        <div class="modal-footer">
            <button id="image-submit" class="btn btn-success disabled submit" ng-click="submitAddImageModal()">Please input url</button>
            <button class="btn btn-warning cancel" ng-click="closeAddImageModal()">Cancel</button>
        </div>
    </div>

    

    <div id="presentation" style="position: absolute; -webkit-transition: -webkit-transform 0.5s linear; -moz-transition: -moz-transform 0.5s linear; -webkit-transform-style: preserve-3d; transform-style: preserve-3d;">
      <div ng-repeat="slide in slides" ng-style="slide.getStyle()" style="position: absolute; border: 1px black solid;" class="pslide">
        <div ng-repeat="component in slide.components" class="finalComponent" ng-style="component.getStyle()" style="position: absolute;">
        </div>
      </div>
      <script type="text/javascript">
        function presentation(){
          var present = document.getElementById("presentation");
          var slidesElements = document.getElementsByClassName("pslide");
          var slidesNum = slidesElements.length;
          var i = 0;
          var slides = [];
          var Slide = function(x,y,w,h){
            this.x = x;
            this.y = y;
            this.width = w;
            this.height = h;
          };
          var cur = 0;
          var canvas = {
            width: window.innerWidth,
            height: window.innerHeight,
            scale: 1
          };
          present.style.webkitTransformOrigin = canvas.width/2 + 'px ' + canvas.height/2 + 'px';
          var translate="";
          for (;i<slidesNum; i++) {
            slides.push(new Slide(
              parseFloat(slidesElements[i].style.left),
              parseFloat(slidesElements[i].style.top),
              parseFloat(slidesElements[i].style.width),
              parseFloat(slidesElements[i].style.height)
              )
            );
          }
          document.onkeydown = function(e) {
            if (e.keyCode == 39 ||
                e.keyCode == 13) {
              next();
            } else if (e.keyCode == 37) {
              prev();
            }
          };
          document.onclick = function(e) {
            next();
          }
          function next(){
            if (cur+1<slidesNum) {
              moveto(cur+1);
              cur++;
            }
          }
          function prev(){
            if(cur-1>=0) {
              moveto(cur-1);
              cur--;
            }
          }
          function moveto(i){
            if (i<0 || i>=slidesNum) return;
            console.log("in moveto "+i);
            var ofx = present.getBoundingClientRect().left,
            ofy = present.getBoundingClientRect().top,
            ox = canvas.width/2 +ofx,
            oy = canvas.height/2+ofy;
            var wr = 0.85;
            var hr = 0.85;
            var r1 = canvas.width * wr / slides[i].width / canvas.scale;
            var r2 = canvas.height * hr / slides[i].height / canvas.scale;
            var r = Math.min(r1,r2),
            ffx = ofx + (canvas.width-r*slides[i].width*canvas.scale)/2,
            ffy = ofy + (canvas.height-r*slides[i].height*canvas.scale)/2;
            canvas.scale *= r;
            var afx = canvas.scale*(ofx-ox)+ox,
            afy = canvas.scale*(ofy-oy)+oy;
            ffx -= slides[i].x * canvas.scale;
            ffy -= slides[i].y * canvas.scale;
            var tx = (ffx-afx)/canvas.scale,
            ty = (ffy-afy)/canvas.scale;
            translate = "translate("+tx.toFixed(10)+"px,"+ty.toFixed(10)+"px)";
            zoomin(null, false);
          }
          function zoomin(event, change) {
            //first unbind all zoom events
            if (change===undefined || change===true || change===null) canvas.scale *= ratio;
            var transform = "scale(" + canvas.scale + ") "+ translate;
            present.style.webkitTransform = transform;
            //after zooming finishes, bind back all zoom events
          }
          moveto(0);
        };
        presentation();
      </script>
    </div>

    <script type="text/javascript" src="components/jquery/jquery.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="components/wysihtml5/parser_rules/advanced.js"></script>
    <script type="text/javascript" src="components/wysihtml5/dist/wysihtml5-0.3.0.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/InsertBtn.js"></script>
    <script src="scripts/directives/canvas.js"></script>
    <script src="scripts/directives/draggable.js"></script>
    <script src="scripts/directives/slide.js"></script>
    <script src="scripts/controllers/Main.js"></script>
    <script src="scripts/directives/rec.js"></script>
    <script src="scripts/directives/component.js"></script>
    <script src="scripts/directives/frame.js"></script>
    <script src="scripts/directives/finalComponent.js"></script>
    <script src="scripts/directives/imgPreview.js"></script>
    <script src="scripts/services/localStorage.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      // s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
